body
{
	margin: 0;
	padding: 0;
}

.bg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(../img/bg.jpg);
	background-size: cover;
}

.cloud
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/cloud.png);
	animation: animate 60s linear infinite;
}

@keyframes animate
{
	0%
	{
		background-position: 0px;
	}
	100%
	{
		background-position: -5440px;
	}
}